<div class="large-12 columns">


 <p id = 'map'></p>



<style>
#map {
position: absolute;
left: 0;
    width: 100%;
    height: 500px;
}
.response {top:600px;}
</style>

</div>

<div class="large-12 columns response">
<%
eating_places = Hash.new{|k, v| k[v] = {}}

params = { term: 'Vietnamese',
           category_filter: 'restaurants'
         }

locale = { cc: "US", lang: 'en' }

coordinates = { latitude: @latitude.to_s , longitude: @longitude.to_s }
 
Yelp.client.search_by_coordinates( coordinates, params, locale).businesses.each do |business| %>
       <p><%= business.name %></p>
       <p><%= business.rating %></p>
       <p><%= business.phone if business.respond_to?(:display_phone)%></p>
       <p><%= business.image_url if business.respond_to?(:image_url)
        image_tag business.image_url %></p> 
       <p><%= business.location.display_address %></p>
       <p><%= image_tag( business.rating_img_url_small) %></p>
       <p><%= business.snippet_text %>
       <p><%= link_to "More Info", business.url %></p>
       <p><%= business.location.address %></p>


      
      


<% end %>
