<div class="large-12 columns">


 <p id = 'map'></p>



<style>
#map {
position: absolute;
left: 0;
    width: 100%;
    height: 500px;
}
.response {top:600px;}
</style>

</div>

<div class="large-12 columns response">
<%
eating_places = Hash.new{|k, v| k[v] = {}}

params = { term: 'Vietnamese',
           category_filter: 'restaurants'
         }

locale = { cc: "US", lang: 'en' }

coordinates = { latitude: @latitude.to_s , longitude: @longitude.to_s }
 
Yelp.client.search_by_coordinates( coordinates, params, locale).businesses.each do |business| %>
       <p><%= business.name %></p>
       <p><%= business.rating %></p>
       <p><%= business.phone if business.respond_to?(:display_phone)%></p>
       <p><%= business.image_url if business.respond_to?(:image_url)
        image_tag business.image_url %></p> 
       <p><%= business.location.display_address %></p>
       <p><%= image_tag( business.rating_img_url_small) %></p>
       <p><%= business.snippet_text %>
       <p><%= link_to "More Info", business.url %></p>
       <p><%= business.location.address %></p>


      
      




    <div class="row">

     <div class="large-6 columns">
     
           
          <div class="row">
            <div class="large-2 columns small-3"><%= business.image_url if business.respond_to?(:image_url)
        image_tag business.image_url %></div>
            <div class="large-10 columns">
              <p><strong><%= business.name %></strong> <p><%= business.rating %></p><p><%= business.snippet_text %></p>
              <ul class="inline-list">
                <li><a href="">Reply</a></li>
                <li><a href="">Share</a></li>
              </ul>
     
     
              <h6>2 Comments</h6>
              <div class="row">
                <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
                <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
              </div>
              <div class="row">
                <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]"/></div>
                <div class="large-10 columns"><p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit</p></div>
              </div>
            </div>
          </div>
           
     
          <hr/>
     
           
          <div class="row">
            <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
            <div class="large-10 columns">
              <p><strong>Some Person said:</strong> Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.</p>
              <ul class="inline-list">
                <li><a href="">Reply</a></li>
                <li><a href="">Share</a></li>
              </ul>
            </div>
          </div>
    </div>
    <% end %>
