<div class="large-12 columns">


 <p id = 'map'></p>



<style>
#map {
position: absolute;
left: 0;
    width: 100%;
    height: 500px;
}
.response {top:600px;}
</style>

</div>

<div class="large-12 columns response" >
<%


params = { term: 'Vietnamese',
           category_filter: 'restaurants'
         }

locale = { cc: "US", lang: 'en' }

coordinates = { latitude: @latitude.to_s , longitude: @longitude.to_s }
 
Yelp.client.search_by_coordinates( coordinates, params, locale).businesses.each do |business| %>
    


 
      
      




    <div class="row" >
   

     <div class="large-12 columns" id = "rest">
     
           
          <div class="row">
            <div class="large-12 columns small-6"><% if business.respond_to?(:image_url) %>
<%= image_tag business.image_url %> <% end %></div>
            <div class="large-10 columns">
              <p><strong><%= business.name %></strong></p><p><%=  business.location.display_address.join(' ') %></p> <p><%= business.rating %></p><p><%= business.snippet_text %></p> <p><%= link_to "More Info", business.url %></p>
       <p><%= business.location.address.join(' ') %></p>
              <ul class="inline-list">
                <li><a href="">Reply</a></li>
                <li><a href="">Share</a></li>
              </ul>
     
     
            
 
           
     
          <hr/>
     
           
          
   

    </div>
    </div>
  <% end %>
