

<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
  <nav class="header"></nav>
    <a class="right-off-canvas-toggle" href="#" >
      <div class="menu">
        <div class="top-bar"></div>
        <div class="middle-bar"></div>
        <div class="bottom-bar"></div>
      </div>
    </a>
  </nav>
    <!-- Off Canvas Menu -->
    <aside class="right-off-canvas-menu">
        <!-- whatever you want goes here -->
        <ul class="side-nav main">
         <% if current_user %>
      <li><%= link_to current_user.name, current_user %></li>
      <li><%= link_to 'Sign Out', session_path, method: :delete, class: 'button' %>
      <% else %>
    
      <li ><%= link_to 'Sign Up', signup_path %></li>
      
      <li class="active"><%= link_to 'Sign In', signin_path %></li>
       <% end %>
        </ul>
        <ul class="side-nav secondary">
          <li> <%= link_to 'About', about_path %></li>
          <li><a href="#">contact us</a></li>
          <li><a href="#">press</a></li>
          <li><a href="#">blog</a></li>
        </ul>
        <ul class="inline-list social">
          <li><i class="fi-social-facebook"></i></li>
          <li><i class="fi-social-pinterest"></i></li>
          <li><i class="fi-social-youtube"></i></li>
          <li><i class="fi-social-twitter"></i></li>
        </ul>
    </aside>

      <section class="hero">
        <div class="background-holder"></div>
        <img class="logo" src="https://s-media-cache-ak0.pinimg.com/736x/17/75/19/1775190f158a67c8af7309949353c58d.jpg" alt="logo" />
      </section>
    <!-- main content goes here -->
    
  <!-- close the off-canvas menu -->
  <a class="exit-off-canvas"></a>

  </div>
</div>